<%- include('partials/header'); %>

<h1>Home</h1>
<p><%= homeStartingContent %></p>
  
    <% for(let item of posts){ %>
        <h1><%= item.postTitle %></h1>
        <p><%= item.postBody.substring(0,100) %><span id="dots">...</span></p>
        <a href="/posts/<%= item.postTitle %>" id="readMoreLink">Read more</a>
    <% } %>
      
<%- include('partials/footer'); %>